
Gerrymandering to 1\.0/images/shape_0\.png

Gerrymandering to 1\.0/images/shape_1\.png

Gerrymandering to 1\.0/images/shape_1234\.png

Gerrymandering to 1\.0/images/shape_150\.png

Gerrymandering to 1\.0/images/shape_2\.png

Gerrymandering to 1\.0/images/shape_20\.png

Gerrymandering to 1\.0/images/shape_200\.png
